venv/
.idea/
.env
DjangoWeatherRemider/DjangoWeatherRemider/__pycache__/
DjangoWeatherRemider/weather/migrations/__pycache__/
DjangoWeatherRemider/weather/__pycache__/
DjangoWeatherRemider/weather/tests/__pycache__/
DjangoWeatherRemider/weather/add_city.py
DjangoWeatherRemider/db.sqlite3
DjangoWeatherRemider/celerybeat-schedule.db
